extends layout
block append css
  style(type="text/css")

block content
  div.span12
    h5
      a(style="color:black",href="/")
        i.icon-arrow-left
        |Back
      a(style="color:black",href="/logout").pull-right
        i.icon-lock
        |Logout
    table.table.table-bordered.table-striped()
      thead
        tr
          each header in headers
            th=header
      body
        each row in rows
          tr
            each data,key in row
              if (key === 'long_url')
                td(style="word-break: break-word; width:200px")
                  if data.split(":")[0] === "https"
                    a(href=data)=data
                  else if data.split(":")[0] === "http"
                    a(href=data)=data
                  else
                    a(href="http://"+data)=data
              else if (key === 'short_url')
                td
                  a(href="/edit/"+data)=data
              else if (key === "created_at" || key === "updated_at")
                td #{time(data)}
              else
                td(style="word-break: break-word;") #{data}
