extends layout
block append css
  style(type="text/css")
      body {background-image:url('/images/rackspace_logo_guy.jpeg');  background-repeat:no-repeat; background-attachment:fixed; background-position: 95% 95%;}

block content
  div.span6
    h1 rax.io/
      span.muted #{results.short_url}
    hr
    h2 QR Code
    div(style="text-align:center")
      img(src="/qr/#{results.short_url}")
    hr
    h2 Edit
    div.span4
      form(id="add-url", method="POST").form-horizontal
          div.control-group
            label(for="long_url").control-label
              | Long URL
            div.controls
              input(type="text", name="long_url", value=results.long_url)
          div.control-group

            label(for="short_url").control-label
              | Desired URL
              br
              small.muted optional
            div.controls
              div.input-prepend
                span.add-on
                  |rax.io/
                span(style="width: 150px;").uneditable-input
                  |#{results.short_url}
          div.control-group
            label(for="notes").control-label
              | Notes
              br
              small.muted optional
            div.controls
              textarea(type="textbox", rows="3", name="notes") #{results.notes}
          input(id="add-url-submit", type="submit", value="Save").pull-right.btn.btn-inverse