extends layout
block append css
  style(type="text/css")
      body {background-image:url('/images/rackspace_logo_guy.jpeg');  background-repeat:no-repeat; background-attachment:fixed; background-position: 95% 95%;}

block content

  div.span6
    //- h5
    //-   a(style="color:black",href="/logout")
    //-     i.icon-lock
    //-     |Logout
    h1
      a(style="color:black", href="/")
        |rax.io
      span.muted
        a(style="color:#999", href="http://rax.io/#{results.short_url}") /#{results.short_url}
      |
      abbr(title="Hit count")
        span.btn.btn-inverse #{hit_count}
    hr
    h2 QR Code
    div(style="text-align:center")
      a(href="/qr/#{results.short_url}?size=6")
        img(src="/qr/#{results.short_url}")
    hr
    h2 Edit
    div.span4
      form(id="edit-url", method="POST").form-horizontal
        div.control-group
          label(for="long_url").control-label
            | Long URL
          div.controls
            input(type="text", name="long_url", value=results.long_url)
        div.control-group
          label(for="short_url").control-label
            | Short URL
            br
          div.controls
            div.input-prepend
              span.add-on
                |rax.io/
              span(style="width: 150px;").uneditable-input
                |#{results.short_url}
        div.control-group
          label(for="notes").control-label
            | Notes
            br
            small.muted optional
          div.controls
            textarea(type="textbox", rows="3", name="notes") #{results.notes}
        div.control-group
          label(for="is_public").control-label
            | Show in <a href="/all">Public Listing</a>?
          div.controls
            if (results.is_public)
              input(type="checkbox", name="is_public", "checked")
            else
              input(type="checkbox", name="is_public")
        div.control-group
          input(id="add-url-submit", type="submit", value="Save").pull-right.btn.btn-inverse