extends layout
block append css
  style(type="text/css")
      body {background-image:url('/images/rackspace_logo_guy.jpeg');  background-repeat:no-repeat; background-attachment:fixed; background-position: 95% 95%;}

block content
  a(href="https://github.com/fsargent/raxURL/")
    img(style="position: absolute; top: 0px; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")

  div.span6
    h1 raxURL
      br
      small Rackspace Short URL Service
    hr
    h2 Create
    div.span4
      -var long_url = long_url
      -var short_url = short_url
      -var notes = notes
      -var err = err
      -var msg = msg
      form(id="add-url", method="POST").form-horizontal
        div.control-group
          label(for="long_url").control-label
            | Long URL
          div.controls
            input(type="text", name="long_url", placeholder="www.rackspace.com/long_url", value=long_url)
        div.control-group

          label(for="short_url").control-label
            | Desired URL
            br
            small.muted optional
          div.controls
            div.input-prepend
              span.add-on
                |rax.io/
              input(
                style="width: 150px;"
                type="text", name="short_url",
                id="prependedInput", placeholder="short name", value=short_url
              )
        div.control-group
          label(for="notes").control-label
            | Notes
            br
            small.muted optional
          div.controls
            textarea(type="textbox", rows="3", name="notes")=notes
        div.control-group
          input(id="add-url-submit", type="submit", value="Save").pull-right.btn.btn-inverse

        div.control-group.span5
          if err
            div.alert.alert-error!=err
          if msg
            div.alert.alert-success!=msg

    div.span6
      hr
      h2 Features
      h4 Queries redirected to search.rackspace.com
      p rax.io/?knowledge management => https://search.rackspace.com/search?q=knowledge+management

      h4 QR-Codes (for Posters)
      p rax.io/knowledge-management.qrcode:
      img(src="http://chart.apis.google.com/chart?cht=qr&chs=120x120&chld=H&choe=UTF-8&chl=rax.io%2Fknowledge-management") 
      p Dynamically generated on query, click to copy to clipboard.

      h4 Plus suffix to edit

      p To see how many clicks that link has gotten and explore other info, simply append a plus sign to the end of the url:
      p rax.io/401k+ => edit.rax.io/401k

      h4 VPN Checking

      p raxURL (will) be VPN Aware. It should be accessible from outside 10.x.x.x space to allow mobile clients/QR Codes to work, and should provide an alert if it's unable to redirect the user to the URL because they're not on the VPN.